@font-face {
    font-family: menlo;
    src: url('../assets/fonts/Menlo-Regular.ttf');
}

@font-face {
    font-family: Akkurat;
    src: url('../assets/fonts/Akkurat-Mono.OTF');
}

.doc {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    margin-bottom: 1.5rem;
}

.doc-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 1rem;
}

.heading {
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    font-family: 'menlo', sans-serif;
}

.info {
    color: #333;
    font-weight: 400;
    font-family: 'Akkurat', sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
    white-space: pre-wrap;
}

.example {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30vh;
    justify-content: center;
    align-items: start;
}

.doc-editor #codeArea{
    font-size: 1rem !important;
}

.doc .example #codeArea {
    font-size: 1rem !important;
}