@font-face {
    font-family: Proggy;
    src: url('../assets/fonts/ProggyVector-Regular\ Mac.otf');
}

#codeArea {
    flex-grow: 1;
    resize: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #131a29;
    border: none;
    outline: none;
    padding: 1rem;
    color: rgb(214, 222, 235);
    font-family: 'Proggy', sans-serif;
    font-size: 1.2rem;
}