@font-face {
    font-family: Akkurat;
    src: url('../assets/fonts/Akkurat-Mono.OTF');
}

.label {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: start;
    opacity: 0.8;
    color: #000;
    gap: 0.5rem;
    font-family: 'Akkurat', sans-serif;
}

.arrow {
    font-size: 0.7rem;
}

.text {
    font-size: 0.8rem;
}