@font-face {
    font-family: menlo;
    src: url('../assets/fonts/Menlo-Regular.ttf');
}

.Main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: rgb(51, 51, 51);
}

.first {
    font-style: italic;
    font-size: 1.2rem;
    font-family: 'Akkurat', sans-serif !important;
    line-height: 1.5;
}

.dash {
    padding-right: 0.5rem;
}

.second {
    font-size: 1rem;
    font-family: 'menlo', sans-serif !important;
}