@font-face {
    font-family: Akkurat;
    src: url('../assets/fonts/Akkurat-Mono.OTF');
}

.Main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* .first {
    color: #fff;    
    opacity: 0.5;
    font-style: italic;
    font-size: 1.4rem;
}

.dash {
    padding-right: 0.5rem;
}

.second {
    font-size: 1.2rem;
    color: #bcccdc;
} */