.result {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 40vh; */
    margin-bottom: 1.5rem;
}

.result #codeArea {
    font-size: 1.1rem !important;
}

.result .line-number {
    font-size: 1.1rem !important;
}

.result .editor-container {
    height: 35vh;
}

.result .line-numbers {
    height: 100%;
}

.result .highlighted-code {
    font-size: 0.9rem !important;
}